@import "styles/variables.scss";

.section {
  width: $body-width;
  scroll-margin-top: 110px;

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.content-wrapper {
  display: flex;
  gap: 40px;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }
}

.overlay {
  position: absolute;
  opacity: 0;
  transition: all 0.3s;

  &:hover {
    opacity: 1;
  }
}
