// Text

$dark-text-primary: #fff;
$dark-text-secondary: #8a99ad;
$dark-text-accent: #38bdf8;

$light-text-primary: #030712;
$light-text-secondary: #6b7280;
$light-text-accent: #38bdf8;
$light-text-hover: #111827;

// Background

$light-bg-main: #f9fafb;
